<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        When using the [AuthorizeByDomain] or [AuthorizeExtranet] attributes in CoreSitecore,
        use this setting to control the default redirection on an unauthorized request.

        Can be an Item ID otherwise will be assumed to be a URL.
      -->
      <setting name="CoreSitecore.Authorization.DefaultUnauthorizedRedirectUrl" value="{FB5506F8-F8E4-4E66-AA1D-EE9B73D675BA}" />

      <!--
        When using the [RedirectExtranetUsers] attribute in CoreSitecore,
        use this setting to control the default redirection on a request where the user is authorized and in the extranet domain
        to force them somewhere else.

        Can be an Item ID otherwise will be assumed to be a URL.
      -->
      <setting name="CoreSitecore.ActionFilters.DefaultRedirectExtranetUrl" value="{00000000-0000-1111-2222-333333333333}" />

      <!--
        The querystring key to use for specifying JpegCompressionLevelQueryKey.

        Since Sitecore 7.5+ introduced Media Request protection via the hash querystring,
        the value of this setting must also be registered in sitecore/settings/mediaLibrary/requestProtection/protectedMediaQueryParameters
      -->
      <setting name="CoreSitecore.Media.JpegCompressionLevelQueryKey" value="jq" />
    </settings>
    <!--<mediaLibrary>
      <requestProtection>
        <protectedMediaQueryParameters>
          <parameter description="jpeg compression" name="jq"/>
        </protectedMediaQueryParameters>
      </requestProtection>
    </mediaLibrary>
    <pipelines>
      <getMediaStream>
        <processor patch:after="processor[@type='Sitecore.Resources.Media.GrayscaleProcessor, Sitecore.Kernel']"
          type="CoreSitecore.Resources.Media.SetJpegCompressionProcessor, CoreSitecore" />
      </getMediaStream>
    </pipelines>-->
  </sitecore>
</configuration>