<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        When using the [AuthorizeByDomain] or [AuthorizeExtranet] attributes in CoreSitecore,
        use this setting to control the default redirection on an unauthorized request.

        Can be an Item ID otherwise will be assumed to be a URL.
      -->
      <setting name="CoreSitecore.Authorization.DefaultUnauthorizedRedirectUrl" value="{FB5506F8-F8E4-4E66-AA1D-EE9B73D675BA}" />
    </settings>
  </sitecore>
</configuration>